<footer class="wrap clearfix">
    <div class="footer-inner">
        <div class="subpage">
            <div class="left editable">
                &copy; Copyright
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Communication Science, Inc.
            </div>
            <div class="right editable">
                <a href="/">Home</a> | <a href="/contact-us/">Contact Us</a>  | <a href="/terms-and-conditions/">Terms and Conditions</a>  | Site by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a>
            </div>
        </div>
    </div>
    </div>
</footer>