<footer class="wrap clearfix">
    <div class="footer-inner">
        <div class="subpage">
            <div class="left editable">
                &copy; Copyright
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Communication Science, Inc.
            </div>
            <div class="right editable">
	<p><a class="cc-active" href="/">Home</a> | <a href="/contact-us/">Contact Us</a> | <a href="/terms-and-conditions/">Terms and Conditions</a> | Site by: <a target="_blank" href="https://www.variantstudios.com">Variant Studios</a></p>
</div>
        </div>
    </div>
    
</footer>