<header itemscope class="wrap clearfix siteheader">

    <div class="clearfix">
        <div class="logo">
            <a href="/"><img src="/assets/images/logo.png" alt="{{site.title}}"></a>
        </div>
        <div class="site-name">
            <span class="name">Communication Science, Inc.</span>
            <span class="slogan">Improving communication through research, evaluation &amp; training</span>
        </div>
        <div class="search">
                <a href="#"><svg x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" style="null" class="search-icon"  xmlns="http://www.w3.org/2000/svg"><path d="M46.697 41.04l-10.4-10.4c-.055-.054-.12-.093-.177-.145a19.583 19.583 0 0 0 3.24-10.815C39.36 8.811 30.55 0 19.68 0 8.811 0 0 8.811 0 19.68s8.811 19.68 19.68 19.68c3.996 0 7.711-1.194 10.815-3.24.052.057.09.122.145.178l10.4 10.399a4 4 0 0 0 5.657-5.657zM19.68 32.538c-7.101 0-12.858-5.757-12.858-12.858S12.579 6.822 19.68 6.822s12.858 5.757 12.858 12.858-5.757 12.858-12.858 12.858z" fill="#000" fill-rule="evenodd"/></svg></a>
        </div>
    </div>
</header>
<nav class="main-nav clearfix">
        <input type="checkbox" class="menu-btn" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
                    <span class="navicon"></span>
                </label> {% include nav.html nav=site.data.main-menu %}
    </nav>