--- 
layout: default 
---
<div class="subpage-header"></div>
<main>
    <div class="subpage with-sidebar clearfix">
        <aside class="sidebar">
            <h4>Recent Blog Posts:</h4>
            <section class="blog-wrapper">

                {% assign blog = site.posts | where: "category","blog" | sort: 'date' %} {% for post in blog reversed limit:3 %} {% if post.category == 'blog' %}
                <div class="blog-item">
                    <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
                    <p class="teaser-date">{{ post.date | date: "%a, %b %d, %Y" }}</p>
                    {% if post.content %}
                    <p class="teaser-text">{{ post.excerpt | strip_htm }}</p>
                    <p class="teaser-link"><a href="{{ post.url }}">read more</a></p>
                    {% endif %}
                </div>
                {% endif %} {% endfor %}

            </section>
        </aside>
        <div class="content clearfix">
            <div class="editable">
                <p>Working collaboratively with you, Communication Science staff selects cost-efficient and timely methods to evaluate your communications and make recommendations to improve communications with your audiences—i.e., your publics, clients, or customers. Communication Science workshops and seminars will help your employees improve their professional, technical, and scientific writing, editing, and production skills.</p>
            </div>

            <div class="">
                <ul class="page-list">
                    {% assign custom_pages = site.custom_pages | sort:'featured.sort_order_number' %}    
                    {% for page in custom_pages %}                  
                    {% if page.featured.teaser_text %}
                    <li>
                        <h5><a href="{{page.url}}">{{page.title}}</a></h5>
                        <a href="{{page.url}}">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="{{site.cloudinaryurl}}image/fetch/w_300,c_fill,c_fill,q_65/{{site.url}}{{ page.main_image }}" media="(max-width: 400px)" />
                            <source srcset="{{site.cloudinaryurl}}image/fetch/w_430,h_212,c_fill,c_fill,q_65/{{site.url}}{{ page.main_image }}" media="(min-width: 800px)" />
                            <!--[if IE 9]></video><![endif]-->
                            <img src="{{site.cloudinaryurl}}image/fetch/w_430,h_212,c_fill,c_fill,q_65/{{site.url}}{{ page.main_image }}" alt="{{page.title}}" />
                        </picture>
                        </a>
                        <p>{{page.featured.teaser_text}}</p>
                    </li>
                    {% endif %} {% endfor %}
                </ul>
            </div>
        </div>


    </div>
</main>