--- 
layout: default 
---
<div class="subpage-header"></div>
<main>
  <div class="subpage with-sidebar clearfix">
      <aside class="sidebar">
          <h4>Recent Blog Posts:</h4>
          <section class="blog-wrapper">
          {% for post in site.category.blog limit: 2 %}
          <div class="blog-item">
              <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
              <p>posted {{ post.date | date: "%a, %b %d, %Y" }}</p>
              {% if post.content %}
              <p class="teaser-text">{{ post.content | strip_html | truncatewords:75}}</p>
              <p class="teaser-link"><a href="{{ post.url }}">read more</a></p>
              {% endif %}
          </div>
          {% endfor %}
      </section>
      </aside>
     <div class="content clearfix">
      {{ content }}

    <div class=" clearfix">
      <ul>
     {% for page in site.pages %}
     {% if page.teaser_text %}
      <li><a href="{{page.url}}">{{page.title}}</a></li>
     {% endif %}
     {% endfor %}
     </ul>
    </div>
    </div>

    
  </div>
</main>

