---
layout: default
---
<div class="subpage-header"></div>
<main>
  <div class="subpage with-sidebar clearfix">
      
     <div class="content clearfix">
      {{ content }}
    </div>
    
    <aside class="sidebar">
          <div class="sidebar--hero">
              <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source srcset="{{site.cloudinaryurl}}image/fetch/w_300,c_fill,c_fill,q_65/{{site.url}}{{ page.main_image }}" media="(max-width: 400px)" />
                  <source srcset="{{site.cloudinaryurl}}image/fetch/w_400,h_412,c_fill,c_fill,q_65/{{site.url}}{{ page.main_image }}" media="(min-width: 800px)" />
                  <!--[if IE 9]></video><![endif]-->
                  <img src="{{site.cloudinaryurl}}image/fetch/w_400,h_412,c_fill,c_fill,q_65/{{site.url}}{{ page.main_image }}" alt="{{page.title}}" />
              </picture>
          </div>
      </aside>
      
  </div>
</main>

