--- 
layout: page 
---


<section class="blog-preface">{{ content }}</section>

<section class="blog-wrapper">
    {% assign cat = page._page_category %} 
    {% for post in site.posts %} 
    {% if post.category contains cat %}
    <div class="blog-item clearfix">
        <div class="blog-content">

            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

            <p class="teaser-date">{{ post.date | date: "%a, %b %d, %Y" }}</p>
            {% if post.content %}
            <p class="teaser-text">{{ post.excerpt | strip_html }}</p>
            <p class="teaser-link"><a href="{{ post.url }}">read more</a></p>
            {% endif %}
        </div>
    </div>
    {% endif %} 
    {% endfor %}


</section>